.container__hourly__hide {
  display: none;
}

.container__table {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  table {
    width: 100%;
    height: 100%;

    text-align: center;

    td {
      img {
        width: 5vw;
      }

      &:first-child {
        color: #6e6b6e;
        font-weight: 200;
        font-size: calc(1.2rem + 0.3vmin);
      }
    }
  }
}
