<div class="container_5DayForecast">
  <div class="block">
    <span class="day">{{getDayName(forecastWeather.list[7])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[7])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[7].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[7].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[7].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block">
    <span class="day">{{getDayName(forecastWeather.list[10])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[10])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[10].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[10].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[10].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block">
    <span class="day">{{getDayName(forecastWeather.list[18])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[18])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[18].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[18].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[18].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block">
    <span class="day">{{getDayName(forecastWeather.list[26])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[26])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[26].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[26].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[26].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block">
    <span class="day">{{getDayName(forecastWeather.list[34])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[34])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[34].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[34].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[34].weather[0].description}}</span>
  </div>
</div>

