<div class="container_5DayForecast">
  <div class="block" (click)="getHourlyWeather(forecastWeather.list[0])">
    <span class="day">{{getDayName(forecastWeather.list[0])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[0])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[0].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[0].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[0].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block" (click)="getHourlyWeather(forecastWeather.list[8])">
    <span class="day">{{getDayName(forecastWeather.list[8])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[8])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[8].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[8].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[8].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block" (click)="getHourlyWeather(forecastWeather.list[16])">
    <span class="day">{{getDayName(forecastWeather.list[16])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[16])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[16].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[16].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[16].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block" (click)="getHourlyWeather(forecastWeather.list[24])">
    <span class="day">{{getDayName(forecastWeather.list[24])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[24])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[24].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[24].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[24].weather[0].description}}</span>
  </div>
  <div class="line"></div>
  <div class="block" (click)="getHourlyWeather(forecastWeather.list[32])">
    <span class="day">{{getDayName(forecastWeather.list[32])}}</span>
    <span class="date">{{getDateName(forecastWeather.list[32])}}</span>
    <img src="https://openweathermap.org/img/wn/{{forecastWeather.list[32].weather[0].icon}}@4x.png" alt="${weather5days.list[7].weather[0].description}">
    <h3 class="temp">{{getTepMathRound(forecastWeather.list[32].main.temp)}}°C</h3>
    <span class="description">{{forecastWeather.list[32].weather[0].description}}</span>
  </div>
</div>

<div class="container__hourly1" *ngIf="isHourlyVisible">
  <app-hourly-weather [forecastWeather]="forecastWeather"></app-hourly-weather>
</div>


