<div class="container">

  <div class="header">
    <mat-form-field class="input_title" appearance="fill">
      <mat-label>Enter City Name</mat-label>
      <input matInput placeholder="Minsk, Belarus" [(ngModel)]="inputValue">
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="getWeatherToday()">Show Today Weather</button>
    <button mat-raised-button color="warn" (click)="getForecastWeather()">Show Forecast Weather</button>
  </div>

  <div class="container_weather_today" *ngIf="isWeatherTodayVisible">
    <app-weather-today [weatherToday]="weatherToday"></app-weather-today>
  </div>

  <div class="container_forecast_weather" *ngIf="isForecastWeatherVisible">
    <app-weather-forecast [forecastWeather]="forecastWeather"></app-weather-forecast>
  </div>

</div>
