/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  width: 99vw;
  margin: 0;
  padding: 0;

  background-color: #c4c4c4;
  background: url(assets/images/bg_weather.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
